[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
python-dotenv = "*"
cryptography = "*"
argon2-cffi = "*"
pyjwt = "*"
click = "*"
pymysql = "*"
coverage = "*"
sentry-sdk = "*"
flake8-html = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-import-order = "*"

[requires]
python_version = "3.12"
